
@model List<SMO.Core.Entities.MD.T_MD_INPUT_KH>
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    var data = Model.Select(x => new
    {
        idTH = x.ID,
        Parent = x.PARENT,
        cOrder=x.C_ORDER,
      
        Name = x.NAME,
        Dvt = x.DVT,
        khv2=x.KH_V2,
        stt = x.STT,
        isBold = x.IS_BOLD,
        DN9T=x.DN9T,
        UTH=x.UTH,
    }
        );

    var gridId = Guid.NewGuid().ToString();
    

}

<div style="height: calc(100vh - 240px); width: 100%" id="@gridId"></div>
<script>
    const rawData =  @Html.Raw(JsonConvert.SerializeObject(data));
 


    let columns = [
        { id: "stt", header: [{ text: "Stt", align: "center" }], minWidth: 220 },
        { id: "Name", header: [{ text: "Hạng mục", align: "center" }], minWidth: 200 },
        { id: "Dvt", header: [{ text: "DVT", align: "center" }], minWidth: 200, },
        { id: "khv2", header: [{ text: "KH(V2)", align: "center" }], minWidth: 200, editable: true },
        { id: "DN9T", header: [{ text: "9TDN", align: "center" }], minWidth: 200, editable: true },
        { id: "UTH", header: [{ text: "UTh", align: "center" }], minWidth: 200, editable: true },
        
    ];
    const Gird = new dhx.TreeGrid("@gridId", {
        columns,
        data: rawData,
        selection: "row",
        resizable: true,
        rowCss: function ({ isBold }) { return isBold == true ? "row-bold" : "" },
    });
    let valuechange = [];
    Gird.events.on("afterEditEnd", (value, row, column) => {
        const index = valuechange.findIndex(item => item.ID === row.idTH);

        if (index !== -1) {
            // Nếu hàng đã tồn tại, cập nhật giá trị
            valuechange[index] = {

                ID_CENTER: row.idTH,
                IS_BOLD: row.isBold,
                NAME: row.Name,
                PARENT: row.Parent,
                STT: row.stt,
                C_ORDER:row.cOrder,
                KH_V2: row.khv2,
                DVT: row.Dvt,
                UTH: row.UTH,
                DN9T: row.DN9T,
            };
        } else {
            // Nếu hàng chưa tồn tại, thêm mới
            valuechange.push({
                ID_CENTER: row.idTH,
                IS_BOLD: row.isBold,
                NAME: row.Name,
                PARENT: row.Parent,
                STT: row.stt,
                C_ORDER:row.cOrder,
                KH_V2: row.khv2,
                DVT: row.Dvt,
                UTH: row.UTH,
                DN9T: row.DN9T,
            });
        }
        console.log(valuechange);
    });

    Gird.events.on("cellClick", (row, column, editorType) => {
   
            if (row.isBold == true) {
                column.editable = false

            } else {
                column.editable = true

            }
    });


       function saveIPutData() {
           var year = $("#time-year").val();

            var ajaxParams = {
         url: "@Url.Action("Update")",
         type: "POST",
         data: {
             data: JSON.stringify(valuechange),
             year: year,
     
         },
         dataType: 'json',
         success: function (response) {
             Message.execute(response);
         }
     }
           Forms.Ajax(ajaxParams)
            valuechange = [];
 }

</script>
