@model  List<SMO.Models.SuaChuaThuongXuyenReportModel>
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    var year = ViewBag.Year as int?;
    var grid = Guid.NewGuid().ToString("N");
    var jsonSerializeSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };
}
@{ 
    var jsonData = Model.OrderBy(x => x.Order).Select(x => new
    {
        Id = x.Order.ToString(),
        Parent = x.Parent,
        Name = x.Name,
        ValueGT = x.valueGT.ToStringVN(),
        ValueQM = x.valueQM,
        ValueHT = x.valueHT,
        IsBold = x.IsBold
    });
}

<div class="table-responsive" style="overflow: auto;width:100%; height: calc(100vh - 220px);" id="@grid"> 
</div>
<script type="text/javascript">
    var rawData = @Html.Raw(JsonConvert.SerializeObject(jsonData, jsonSerializeSettings));
    var columns = [
        { id: "id", header: [{ text: "STT", align: "center" }], align: "center", width: 100 },
        { id: "name", header: [{ text: "DANH MỤC", align: "center" }, { content: "inputFilter" }], width:500},
        { id: "valueGT", header: [{ text: "KH NĂM 2024", align: "center", colspan: 3 }, { text: "GIÁ TRỊ", align: "center" }], align: "right", width: 160 },
        { id: "valueQM", header: [{ text: "", align: "center"}, { text: "QUY MÔ", align: "center" }], align: "right", width: 180 },
        { id: "valueHT", header: [{ text: "", align: "center" }, { text: "GHI CHÚ", align: "center" }], align: "right", width: 180 },
    ];
   
    const treegrid = new dhx.Grid("@grid", {
        columns,
        resizable: true,
        keyNavigation: true,
        rowCss: function ({ isBold }) { return isBold == true ? "row-bold" : "" },
        data: rawData,
        rowHeight: 30,
    });
</script>
