@model SMO.Service.BP.ReportDataCenter
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    var gridId = Guid.NewGuid().ToString("N");
    var jsonSerializeSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };
}
<style>
    .row-bold .dhx_grid-cell, .row-bold .dhx_tree-cell {
        font-weight: bold
    }

    .grid .dhx_grid-cell {
        word-break: break-word
    }

    .dhx_header-wrapper {
        z-index: 1;
    }
</style>

<div style="height: calc(100vh - 240px); width: 100%" id="@gridId"></div>

<script type="text/javascript">
    var rawData = @Html.Raw(JsonConvert.SerializeObject(Model.BM02C, jsonSerializeSettings));
    rawData.forEach((item) => {
        if (item.isBold) delete item.parent;
    });
    let columns = [
        { id: "name", header: [{ text: "LĨNH VỰC", align: "center" }, { content: "inputFilter" }], minWidth: 300 },

        { id: "col1", header: [{ text: "KH 2023", align: "center", colspan: 3 }, { text: "DOANH THU", align: "center" }], align: "right", minWidth: 180, type: "number", format:"#,#" },
        { id: "col2", header: ["", { text: "CHI PHÍ", align: "center" }], align: "right", minWidth: 180, type: "number", format: "#,#" },
        { id: "col3", header: ["", { text: "LNTT", align: "center" }], align: "right", minWidth: 180, type: "number", format: "#,#" },

        { id: "col4", header: [{ text: "UTH NĂM 2023", align: "center", colspan: 3 }, { text: "DOANH THU", align: "center" }], align: "right", minWidth: 180, type: "number", format: "#,#" },
        { id: "col5", header: ["", { text: "CHI PHÍ", align: "center" }], align: "right", minWidth: 180, type: "number", format: "#,#" },
        { id: "col6", header: ["", { text: "LNTT", align: "center" }], align: "right", minWidth: 180, type: "number", format: "#,#" },

        { id: "col7", header: [{ text: "KH NĂM 2024", align: "center", colspan: 3 }, { text: "DOANH THU", align: "center" }], align: "right", minWidth: 180, type: "number", format: "#,#" },
        { id: "col8", header: ["", { text: "CHI PHÍ", align: "center" }], align: "right", minWidth: 180, type: "number", format: "#,#" },
        { id: "col9", header: ["", { text: "LNTT", align: "center" }], align: "right", minWidth: 180, type: "number", format: "#,#" },

    ];

    const treeGrid = new dhx.TreeGrid("@gridId", {
        columns,
        data: rawData,
        leftSplit: 1,
        resizable: true,
        keyNavigation: true,
        rowCss: function ({ isBold }) { return isBold == true ? "row-bold" : "" },
        selection: true,
        autoHeight: true,
    });


</script>


