@model  SMO.Models.ReportChiPhiModel
@using System.Text;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    var year = ViewBag.Year as int?;
    var lstHeader = ViewBag.Header as List<string>;
    var gridTab = Guid.NewGuid().ToString("N");
    var jsonSerializeSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };
}
<style>
    .row-bold .dhx_grid-cell, .row-bold .dhx_tree-cell {
        font-weight: bold
    }

    .grid .dhx_grid-cell {
        word-break: break-word
    }

    .dhx_header-wrapper {
        z-index: 1;
    }
</style>
<div style="height: calc(100vh - 240px); width: 100%" id="@gridTab"></div>
<script type="text/javascript">
    var rawDataTab1 = @Html.Raw(JsonConvert.SerializeObject(Model.chiPhiInReports, jsonSerializeSettings));
    var parentData = rawDataTab1.filter(x => x.isBold == true);
    rawDataTab1.unshift({
        name: 'TỔNG CỘNG',
        isBold: true,
        valueCQCT: _.sumBy(parentData, "valueCQCT"),
        valueCNMB: _.sumBy(parentData, "valueCNMB"),
        valueCNMT: _.sumBy(parentData, "valueCNMT"),
        valueCNMN: _.sumBy(parentData, "valueCNMN"),
        valueCNVT: _.sumBy(parentData, "valueCNVT"),
        valueTcty: _.sumBy(parentData, "valueTcty"),
    })
    let columnsTab1 = [
        { id: "stt", header: [{ text: "STT", align: "center"}], align: "center", minWidth: 100 },
        { id: "name", header: [{ text: "Danh mục chi phí", align: "center" }] },

        { id: "valueCQCT", header: [{ text: "CQ Công ty", align: "center" }], minWidth: 160, align: "right", type: "number", format: "#.#" },
        { id: "valueCNMB", header: [{ text: "CN Miền Bắc", align: "center" }], minWidth: 160, align: "right", type: "number", format: "#.#" },
        { id: "valueCNMT", header: [{ text: "CN Miền Trung", align: "center" }], minWidth: 160, align: "right", type: "number", format: "#.#" },
        { id: "valueCNMN", header: [{ text: "CN Miền Nam", align: "center" }], minWidth: 160, align: "right", type: "number", format: "#.#" },
        { id: "valueCNVT", header: [{ text: "CN Vận Tải", align: "center" }], minWidth: 160, align: "right", type: "number", format: "#.#" },
        { id: "valueTcty", header: [{ text: "Tổng cộng", align: "center" }], minWidth: 160, align: "right", type: "number", format: "#.#" },

    ];
    const gridTab1 = new dhx.Grid("@gridTab", {
        columns: columnsTab1,
        data: rawDataTab1,
        resizable: true,
        selection: "row",
        adjust: true,
        topSplit: 2,
        rowCss: function ({ isBold }) { return isBold == true ? "row-bold" : "" },
    });
</script>